body {
  width: 60%;
  margin: auto;
  font-family: 'Zen Antique', serif;
  background-color: beige;
}
.header {
    position: sticky;
    top: 0;
    background: #fff;
}


.topnav {
  position: sticky;
    top: 0;
  overflow: hidden;
  background-color: darkolivegreen;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  float: left;
  background-image: ("logo.png");
  color: white;
}

.sivu1  {
background-color: #91B247;


}

